@model IEnumerable<MvcWorkshops.Models.Channel>

@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsDefault)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ChannelColor)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CreatedAt)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CreatedBy)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsDefault)
				</td>
				<td>
					<div style="display: inline-block; width: 10px; height: 10px; border: 1px solid #000; background-color: #@(item.ChannelColor);"></div>
					#@Html.DisplayFor(modelItem => item.ChannelColor)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreatedAt)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreatedBy.Email)
				</td>
				<td>
					<a asp-action="Delete" asp-route-id="@item.Id">
						<i class="glyphicon glyphicon-trash"></i>
					</a>
					|

					@if (item.ObservedChannels.Any(q => q.ApplicationUser.Email == User.Identity.Name))
					{
						if (item.IsDefault && item.CreatedBy.Email == User.Identity.Name)
						{
							<i class="glyphicon glyphicon-heart"></i>
						}
						else
						{
							<a asp-action="StopObserving" asp-route-id="@item.Id">
								<i class="glyphicon glyphicon-heart"></i>
							</a>
						}
					}
					else
					{
						<a asp-action="Observe" asp-route-id="@item.Id">
							<i class="glyphicon glyphicon-heart-empty"></i>
						</a>
					}

				</td>
			</tr>
		}
	</tbody>
</table>
